/*.js

*#
node_modules
bower_components
ssl
nbproject
bower.json
.DS_STORE
.DS_Store
*~
*.swo
*.swp
*.swn
*.swm
.git
.gitattributes
.travis.yml
.gitignore
.idea
.tmp
.jshintrc
.editorconfig
*.md
**/*.md
__tests__
.babelrc
.eslintrc
karma.conf.js
scripts
coverage
*.webpack.js
*.config.js
.nyc_output
yarn.lock
